@import (less) 'normalize.css';

@import 'variables';
@import 'mixins';
@import 'dialogs';

.set-size(small);

li, ul, menu { // move to reset
	list-style: none;
	margin: 0;
	padding: 0;
}

#vertical-seperator{
	display: inline-block;
	vertical-align: middle;
	height:30px;
	width:2px;
	background-color: @divider-color;
}

#horizontal-seperator{
	display: inline-block;
	vertical-align: top;
	height:2px;
	width:30px;
	background-color: @divider-color;
}

/////////////////////
// Basic layout

html, body {
	height: 100%;
	width: 100%;
}

body, main[role=application] {
	height: 100%;
	position: relative;
	font: @base-size FreeSans, Arimo, "Droid Sans", Helvetica,
	                 "Helvetica Neue", Arial, sans-serif;

	background-color: #D6DCE2;
	color: @main-color;

	min-width: 640px;
	min-height: 400px;
}

#canvas {
	.canvas;
	user-select: none;

	.measure-log {
		// Let the user click through this div since it lies on the canvas
		pointer-events: none;

		// Use the Measure class defined in components.less
		&:extend(.-Measure);

		// When the div is visible, make the opacity 0.2
		&.visible {
			opacity: 0.2;
		}
	}

	background-color: white;
}

#mainmenu {
	position: absolute;
}
#toolbox {
	position: absolute;
	top: 45px; // Add extra padding
}

#template {
	.toolbar(bottom);
	& > menu {
		overflow: hidden; // #300 quick fix,
	}                     // no menu expansion
}

#meta {
	position: absolute;
	right: 0;
}

#chiral-flag {
	overflow-y: hidden;
	position: absolute;
	right: 0;
	& > button {
		& > svg {
			stroke-width: 0;
		}
		.toolbutton-horizontal(large, 2);
	}
}

[role='toolbar'] {
	user-select: none;
	menu {
		.remove-inline-spacing;
	}
	li {
		display: inline-block;
		vertical-align: top;
		& > svg {
			fill: @dropdown-color;
			display: none; // dropdown
		}
		li.disabled{
			opacity: 0.8;
		}
		li:not(.disabled){
			&:hover {
				background-color: #E7EBEF;
			}
		}
	}

	li li { // For buttons in general, add a margin
		margin: 4px;
		border: 1.5px solid #D6DCE2;
	}

	li li li { // For buttons inside menus, don't add a margin
		margin: 0px;
	}

	button {
		.toolbutton;
	}

	li.selected {
		border: 1.5px solid #1EA7F2;
	}

	// By default, hide the menu icon.
	#hidden-menu-icon{
		visibility: hidden;
	}

	li.opened.menu-button {
		li{
			display:inline;
			border: 1.5px solid @border-color;
		}

		menu {
			background-color: @border-color;
			box-shadow: 0px 2px #7F7F7F;
		}

		// When the menu-button is open, show the menu icon.
		#hidden-menu-icon{
			position: relative;
			padding: 5px;
			width: 18px;
			height: 18px;
			visibility: visible;
		}
	}
}

.cliparea {
	// Copied from http://bit.ly/12nphsK
	// Search for less verbose way to make FF happy
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	display: block;
	font-size: 1px;
	z-index: -1;
	color: transparent;
	background: transparent;
	overflow: hidden;
	border: none;
	padding: 0;
	resize: none;
	outline: none;
	user-select: text;
	// Because for user-select:none,
	// Safari won't allow input
}

li.opened {
	.expanded;
}

#atom, #freq-atoms {
	button {
		font-size: @atom-size;
	}
	kbd {
		display: none;
	}
}

select {
	// reset select size after inline-block
	// space removing inside toolbar
	font-size: @base-size;
}

//////////////////////////
// Adjust to custom sizes


body, select, form {
	font-size: @base-size;
}

#mainmenu, #template, #toolbox {
	padding-left: 15px;
	left: 0px;
	right: 0px;
	height: 32px;
	padding-top: @toolbar-top-bottom-padding;
	padding-bottom: @toolbar-top-bottom-padding;
	padding-left: @toolbar-left-padding;
}

#mainmenu{
	top: 0px;
	border-bottom:1px solid #BDC8D2;;
}
#elements {
	.toolbar-size(vertical, small);
}
#vertical-seperator{
	margin-top:5px;
	margin-bottom:5px;
}
[role='toolbar'] button {
	.toolbutton-size(small);
}
#chiral-flag button {
	.toolbutton-horizontal(small, 2);
}

////////////////////
// BUTTON STYLING
////////////////////

// General buttons
li li {
	width: 2*@button-grow + @button-size;
	height: 2*@button-grow + @button-size;
}

li#template-lib{ //Template Library button
	width: 2*@button-grow + @button-size + 80px;
}

li#clean{ //Clean up button
	width: 2*@button-grow + @button-size + 80px;
}

button.open-button{
	margin-top: 7px;
}

span.button-span{
	font-family: "Helvetica";
	color: #31353B;
	font-size:15px;
	padding-bottom: 4px;
	vertical-align: middle;
}

// Cancel and Done Button styling (bottom of the app)
#cancel, #done{
	float: right;
	margin-top:4px;
	margin-left: 0px;
	height:28px;
	width:82px;
}

#done{
	margin-right: 10px;
}

#cancel{
	margin-right: 5px;
}

#cancel-button, #done-button{
	margin:0px;
	padding-top: 5px;
}

#done-button, #done{
	color: #232628;
	background-color: #35B8FF;
}

#cancel-button, #cancel {
	color: #B2B2B2;
	background-color: #232628;
}
#cancel-button, #cancel, #done-button, #done{
	font-size: 15px;
	text-align: center;
	border-radius:5px;
}

#cancel-dialog-button,  #ok-dialog-button{
	float: right;
	font-size: 15px;
	text-align: center;
	height:22px;
	width:81px;
	margin-top: 5px;
	padding-top: 5px;
	border-radius: 3px;
	cursor: default;
}

#cancel-dialog-button{
	margin-right: 9px;
	text-align: center;
	color: #B2B2B2;
	background-color: #232628;
}

#ok-dialog-button{
	margin-right: 13px;
	text-align: center;
	color: #232628;
  background-color: #35B8FF;
}

//Zoom list styling
#zoom-list{
	margin: 0px;
	width: 85px;
	height: 36px;

	select{
		border: 1px solid #C3CED2;
		border-radius: 2px;
		height: 30px;
		width: 89px;
		font-family: Helvetica;
		font-size: 15px;
		padding: 4px 4px 4px 7px;
		appearance: none; //Remove default arrow
		background-color: white;
		background: url("logo/method-draw-image.svg") 100% 50% no-repeat white; //Add custom arrow
	}
}

// Custom case for frequent atoms since it has another li inside of it
li#freq-atoms{
	border: 0px;
}

// Atom button styling
button.atom-button {
	font-size:16px;
	color: @atom-font-color;
}

li.vertical-menu{
	top: 30px;
	left: 0px;
}

li.menu-button {
	width: 2*@button-grow + @button-size + 3;
	height: 2*@button-grow + @button-size + 3;
}

li.opened {
	.expanded-size(small);
	.expanded-menu;
}

li.disabled{
	cursor: not-allowed;
}
#atom button, #freq-atoms button {
	font-size: @atom-size;
}

@media (max-width: 925px) {
	#h, #c, #n, #o, #s, #p {
		display: none;
	}
}

// Menu button styling
li.menu-button {
	.collapsed-ifnot(opened);
}

#template-common {
	.separate-item(horizontal, 15px);
}

// Do not display our canvas overlay by default
.cellar {
	display: none;
}
