@import (less) 'normalize.css';

@import 'variables';
@import 'mixins';
@import 'dialogs';

li, ul, menu { // move to reset
	list-style: none;
	margin: 0;
	padding: 0;
}

#vertical-seperator{
	display: inline-block;
	vertical-align: middle;
	height:30px;
	width:2px;
	background-color: @divider-color;
}

#horizontal-seperator{
	display: inline-block;
	vertical-align: top;
	height:2px;
	width:30px;
	background-color: @divider-color;
}

/////////////////////
// Basic layout

.set-size(large);

html, body {
	height: 100%;
	width: 100%;
}

body, main[role=application] {
	height: 100%;
	position: relative;
	font: @base-size FreeSans, Arimo, "Droid Sans", Helvetica,
	                 "Helvetica Neue", Arial, sans-serif;

	background-color: #D6DCE2;
	color: @main-color;

	min-width: 640px;
	min-height: 400px;
}

#canvas {
	.canvas;
	user-select: none;

	.measure-log {
		&:extend(.-Measure);
		&.visible {
			opacity: 1;
		}
	}

	background-color: white;
}

#mainmenu {
	.toolbar(top);
}
#toolbox {
	.toolbar(top);
	top: 45px; // Add extra padding
}
#elements {
	.toolbar(right);
}
#template {
	.toolbar(bottom);
	& > menu {
		overflow: hidden; // #300 quick fix,
	}                     // no menu expansion
}


#meta {
	position: absolute;
	right: 0;
}

#chiral-flag {
	overflow-y: hidden;
	position: absolute;
	right: 0;
	& > button {
		& > svg {
			stroke-width: 0;
		}
		.toolbutton-horizontal(large, 2);
	}
}

[role='toolbar'] {
	user-select: none;
	menu {
		.remove-inline-spacing;
	}
	li {
		display: inline-block;
		vertical-align: top;
		& > svg {
			fill: @dropdown-color;
			display: none; // dropdown
		}

		border-radius: 5px;
	}

	li li { // For buttons in general, add a margin
		margin: 5px;
	}

	li li li { // For buttons inside menus, don't add a margin
		margin: 0px;
	}

	button {
		.toolbutton;
	}

	li.selected {
		background-color: @selected-button-color;
	}

	li.opened.menu-button {
		li{
			display:inline;
		}
	}

	kbd {
		display: none;
		font: 0.8em monospace;
		color: @border-color;
	}
}

.cliparea {
	// Copied from http://bit.ly/12nphsK
	// Search for less verbose way to make FF happy
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	display: block;
	font-size: 1px;
	z-index: -1;
	color: transparent;
	background: transparent;
	overflow: hidden;
	border: none;
	padding: 0;
	resize: none;
	outline: none;
	user-select: text;
	// Because for user-select:none,
	// Safari won't allow input
}

li.opened {
	.expanded;
}

#atom, #freq-atoms {
	button {
		font-size: @atom-size;
	}
	kbd {
		display: none;
	}
}

select {
	// reset select size after inline-block
	// space removing inside toolbar
	font-size: @base-size;
}

//////////////////////////
// Adjust to custom sizes

li.menu-button {
	.collapsed-ifnot(opened);
	height: 40px;
	width: 40px;
}

@media (max-height: 850px) {
	#rgroup {
		.collapsed-ifnot(opened);
	}
	@media (max-width: 1040px) { // better way not to dublicate?
		#rgroup {                // inherit 100%, small? overflow-x?
			.collapsed-size(small);
		}
	}
}

@media (max-height: 800px) {
	#transform {
		.collapsed-ifnot(opened);
	}
	@media (max-width: 1040px) {
		#transform {
			.collapsed-size(small);
		}
	}
}

@media (max-height: 600px) {
	#rgroup, #transform {
		.collapsed-size(small);
	}
}

@media (min-height: 800px) {
	#reaction {
		.separate-item(vertical, 5px);
	}
}

@media (max-height: 600px), (max-width: 1040px) {
	.set-size(small);

	body, select, form {
		font-size: @base-size;
	}
	#canvas {
		.canvas-size(small);
	}
	#mainmenu, #template, #toolbox {
		padding-left: 15px;
		left: 0px;
		right: 0px;
		height: 32px;
	}
	#mainmenu{
		top: 0px;
		padding-top: @toolbar-top-bottom-padding;
		padding-bottom: @toolbar-top-bottom-padding;
		padding-left: @toolbar-left-padding;
		border-bottom:1px solid #BDC8D2;;
	}
	#toolbox{
		padding-top: @toolbar-top-bottom-padding;
		padding-bottom: @toolbar-top-bottom-padding;
		padding-left: @toolbar-left-padding;
	}
	#elements {
		.toolbar-size(vertical, small);
	}
	#vertical-seperator{
		margin-top:5px;
		margin-bottom:5px;
	}
	[role='toolbar'] button {
		.toolbutton-size(small);
	}
	#chiral-flag button {
		.toolbutton-horizontal(small, 2);
	}

	li li { // Buttons
		width: 2*@button-grow + @button-size;
		height: 2*@button-grow + @button-size;
	}

	li.vertical-menu{
		top: 30px;
		left: 0px;
	}

	li.menu-button {
		width: 2*@button-grow + @button-size;
		height: 2*@button-grow + @button-size;
	}

	li.opened {
		.expanded-size(small);
		.expanded-menu;
	}

	#atom button,
	#freq-atoms button {
		font-size: @atom-size;
	}
}

#template-common {
	.separate-item(horizontal, 15px);
}

.cellar {
	display: none;
}

.warning {
	color: @error-color;
	&:before {
		content: '⚠ ';
	}
}

.arrange-icons-new(analyse check cip clean generic-groups layout miew
				   reaction-arrow reaction-automap reaction-map
				   reaction-plus reaction-unmap recognize rgroup-attpoints
				   rgroup-fragment rgroup-label template-lib);

.arrange-icons-new(@names, @i: 1) when (@i <= length(@names)) {
	@item: extract(@names, @i);
	#@{item} button:before {
		padding: 0.2em 0 0 0.2em;
	}
	.arrange-icons-new(@names, (@i + 1));
}
